*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: chocolate;
}
body{
    background-color: whitesmoke;
}


#sec-one{
    float: left;
    width: 75%;
  
}   
#sec-two{
    float: right;
    width: 25%;
}
img{
    display: inline-block;
    width: 25%;
    height: 200px;
}
ul{
    width: 80%;
    background-color: cornsilk;
}

li{
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    color: black;
}
button{
    border: rgb(3, 3, 3);
    padding: 30px;
    background-color: rgb(26, 65, 26);
    color: black;
    font-weight: bolder;
}